*{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
h1{
    color: rgb(24, 83, 247);
    font-size:70px;
}
.text{
    width:506px;
    height:40%;
}
body{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
}
.content{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:100px;
    width:100%;
    height:55%;
    padding: 10px;
    position: relative;
    bottom: -23px;
    right:12px;
}
.connection{
    display: flex;
    gap:5px;
    flex-direction: column;
    background-color: #fff;
    padding:25px;
    border-radius:7px;
    height:350px;
    width:350px;
}
.seconnecter{
    background-color: #1877F2;
    font-size:20px;
    padding:15px;
    border: none;
    border-radius:5px;
    color: white;
}
input{
    width:320px;
    padding-left:10px;
    padding-bottom:20px;
    padding-top:20px;
    border-radius:6px;
    border: 1px solid black;
    font-size:17px;
    border: 1px solid gray;
    z-index: 2;
}
a{
    font-size:15px;
    margin: auto;
    color: blue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    
}
.creer{
    
    width:60%;
    padding:10px 10px;
    background-color: #42B72A;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin: auto;
    font-size:15px;
}
button:hover{
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    height:100%;
    width:90%;
}
.fin p{
    font-size:11px;
}
.p{
    display: flex;
    gap:3px;
    align-items: center;
    color:gray; 
    padding:5px;
}
.p button{
    height:15px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fin a{
    padding:12px;
    font-size:13px;
    color:gray; 
}
.fin{
    width: 100%;
    height: 45%;
    position: relative;
}
.content1{
    position: absolute;
    bottom:90px;
    right:120px;
    display: flex;
    flex-direction: column;
    width:85%;
}
.content p{
    font-size:30px;
}
@media(max-width:950px){
   .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0px;
   }
   h1{
    position: relative;
    right:-70px;
   }
}